.btn-file {
    position: relative;
    overflow: hidden;
}

h1 {
  font-family: 'Cookie', cursive;
  font-size: 70pt;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.progress {
  text-align: center;
  height: 15px;
  min-width: 80%;
  margin: 10px 0 10px 0;
}

.status {
  text-transform: uppercase;
}
